<!DOCTYPE html>
<html lang="pt-br">
  {% include "head.twig" %}
<body>
	<!-- Navigation -->
	{% include "menu.twig" %}

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('{{ theme_url }}/img/home-bg.jpg');">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <h1>{{ site_title }}</h1>
                      <hr class="small">
                      <span class="subheading">{{ meta.tagline }}</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% if paged_pages %}
                  {% for page in paged_pages|sort_by("time")|reverse %}
                      <div class="post-preview">
                          <a href="{{ page.url }}">
                              <h2 class="post-title">
                                  {{ page.title }}
                              </h2>
                              <h3 class="post-subtitle">
                                  {{ page.description }}
                              </h3>
                          </a>
                          <p class="post-meta">Posted by {{ page.author }} on {{ page.date }}</p>
                      </div>
                      <hr>
                  {% endfor %}
              {% endif %}
              <!-- Pager -->
              <ul class="pager">

				{% if page_number > 1 %}
				<li class="previous">
                      <a href="{{ base_url }}/{{ page_indicator }}/{{ page_number - 1 }}">&larr; Newer Posts</a>
                  </li>
				{% endif %}

				{% if page_number < total_pages %}
                  <li class="next">
                      <a href="{{ base_url }}/{{ page_indicator }}/{{ page_number + 1 }}">Older Posts &rarr;</a>
                  </li>
				{% endif %}
              </ul>
          </div>
      </div>
  </div>

  <hr>

  <!-- Footer -->
   {% include "footer.twig" %}
</body>
</html>
